A <%= @exception.class %> occurred <%= @exception_source %>:

  <%= @exception.message %>
  <%= @backtrace.first %>

<%= @exception_notification_sections.map { |section| render_section(section) }.join %>
